<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>

<hr>
<input 
    type="text" [(ngModel)]="username">
<p>
    {{ username }}
</p>
<button 
    class="btn btn-primary"
    (click)="onClearUsername()"
    [disabled]="username === ''">
    Clear username
</button>
<hr>
<app-success></app-success>
<hr>
<button 
    class="btn btn-primary"
    (click)="togglePassword()">
    Display Details
</button>
<p
    *ngIf="showPassword">
    Secret Password = tuna
</p>
<p 
    *ngFor="let elem of showPasswordArray; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{whiteBackground: i >= 4}">
    {{ elem }} {{ i }}
</p>